<ion-content [fullscreen]="true">
  <div class="bigContainer">
    <div class="introContainer">
      <div class="container">
        <div class="box">
            <div class="title">
                <span class="block"></span>
                <h1>Ibrahim Saliba<span></span></h1>
            </div>
            <div class="role">
                <div class="block"></div>
                <p>Software Engineer</p>
            </div>
        </div>
    </div>
    </div>
  </div>

  <ion-header collapse="fade">
  <ion-toolbar>
    <div class="toolbarDisplay">
      <button class="toolbarButtons">Home</button>
      <button class="toolbarButtons">About</button>
      <button class="toolbarButtons">Projects</button>
      <button class="toolbarButtons">Contact</button>
    </div>
  </ion-toolbar>
  <div class="blueLineBar"></div>
</ion-header>

<div class="aboutTitle">
  <h1 id="about">ABOUT</h1>
  <div class="titlesLineBar"></div>
</div>
<div class="adjectives">
  <div class="x">
    <div class="circle1"><ion-icon style="height: 80px;width: 80px;color: white;" name="code-working-outline"></ion-icon></div>
    <br>  
    <div class="adjParaContainer"><p class="adjPara">Coding</p></div>
      <br>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</p>
  </div>
  <div class="x">
    <div class="circle1"><ion-icon style="height: 80px;width: 80px;color: white;" name="bug-outline"></ion-icon></div>
    <br>
    <div class="adjParaContainer"><p class="adjPara">Testing</p></div>
    <br>
    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</p>

  </div>
  <div class="x">
    <div class="circle1"><ion-icon style="height: 80px;width: 80px;color: white;" name="timer-outline"></ion-icon></div>
    <br>
    <div class="adjParaContainer"><p class="adjPara">Timing</p></div>
    <br>
    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</p>

  </div>
  <div class="x">
    <div class="circle1"><ion-icon style="height: 80px;width: 80px;color: white;" name="people-circle-outline"></ion-icon></div>
    <br>
    <div class="adjParaContainer"><p class="adjPara">Team</p></div>
    <br>
    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</p>

  </div>
</div>

<div class="aboutSection2">
  <div class="skillsContainer">
    <div id="myProgress">
      <div id="myBar">10%</div>
    </div>
    <button (click)="move()">Click Me</button> 



    
  </div>
  <div class="photoContainer">
    <img style="margin-left: auto;margin-right:auto" src="../../assets/icon/loonapix_16665377073052561843.png" alt="">
  </div>
</div>



</ion-content>
